.movies {
  padding: 2rem 3rem;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .movies {
    padding: 1.8rem 2.8rem;
  }

  .movies .list-heading {
    margin-bottom: 1.8rem;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  .pagination {
    margin-top: 1.8rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .movies {
    padding: 1.6rem 2.6rem;
  }

  .movies .list-heading {
    margin-bottom: 1.6rem;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  .pagination {
    margin-top: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .movies {
    padding: 1.4rem 2.4rem;
  }

  .movies .list-heading {
    margin-bottom: 1.4rem;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  .pagination {
    margin-top: 1.4rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .movies {
    padding: 1.2rem 2.2rem;
  }

  .movies .list-heading {
    margin-bottom: 1.2rem;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 1rem;
  }

  .pagination {
    margin-top: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .movies {
    padding: 0.8rem 1.8rem;
  }

  .movies .list-heading {
    margin-bottom: 1rem;
  }

  .movie-cards {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
  }

  .pagination {
    margin-top: 1rem;
  }
}
